body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#countdown {
    font-size: 80px;
}

img {
    width: auto;
    height: auto;
    max-width: none;
    max-height: none;
    display: block;
}